
#nav .profile-menu .dropdown-toggle {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
#nav .profile-menu .dropdown-toggle img{
  width: 100%;
  height: auto;

}
#nav .profile-menu .dropdown-menu {
  width: 300px;
  left: auto;
  right: -30px;
}
#nav .profile-menu .menu-header {
  position: relative;
  padding: 10px 20px;
  text-align: left;
  background: #1abc9c;
  color: #fff;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 1.3em;
  margin-bottom: 15px;
}
#nav .profile-menu .menu-header:after {
  bottom: 100%;
  right: 35px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(26, 188, 156, 0);
  border-bottom-color: #1abc9c;
  border-width: 15px;
  margin-left: -15px;
}

#nav .profile-menu .menu-list {
  padding: 0;
  margin: 0;
  text-align: left;
}

#nav .profile-menu .menu-list li {
  list-style: none;
  padding: 10px 0;
  text-align: center;
}
#nav .profile-menu .menu-list li a {
  color: #b2b0b0;
  padding: 0;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#nav .profile-menu .menu-list li a:hover {
  color: #1abc9c;
  /*padding: 0;*/
}
#nav .profile-menu .menu-list li a .icon {
  display: inline-block;
  font-size: 2.8em;
  line-height: 1em;
}
#nav .profile-menu .menu-list li a .text {
  display: block;
}

