/* Global */
img {
  max-width: 100%;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.inline-block{
  display:inline-block;
}
/*Top bar*/
.top-bar {
  background: none repeat scroll 0 0 #1abc9c;
  border-bottom: 2px solid #1abc9c;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 0.03em;
  min-height: 3px;
  z-index: 2;
}
.top-bar .message {
  padding: 10px 0;
}
/* Navigation */
.menu-wrapper {
  background: #34495e;
  min-height: 62px;
}
.menu {
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu.small {
  padding: 0;
}
#logo {
  margin: 0;
}
#logo a {
  color: #34495e;
}
#nav {
  text-align: right;
  margin: 15px 0 0 0;
}
.navigation{
  float: right;
  list-style: none;
  margin: 0;
}
.navigation li{
  float: left;
  margin:0 0 0 30px;
}
.navigation li a {
  color: #34495e;
}
.navigation li a.btn {
  color: #FFF;
}
.navigation li a.btn:hover{
  color:#c9f7ee;
}
.navigation li a:hover {
  color: #1abc9c;
}
.navigation li a.active,
.navigation li a.active:hover {
  cursor:pointer;
  color: #1abc9c;
  font-weight:bold;
}
.navigation li .login-btn {
  margin-top: -2px;
}

/* Slides */
.slide {
  background-attachment: fixed;
  width:100%;
  height:auto;
  position: relative;
  padding:30px 0 30px 0;
}

/* Banner Section*/
#banner-section {
  background: #34495e url('../images/gitcoin-bg.png');
  background-size: cover;
  color:#ffffff;
  text-align: center;
  padding-top: 180px;
}
#banner-section .slide-content {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
#banner-section h1 {
  font-size: 5em;
  letter-spacing: -1px;
  line-height: 0.8em;
  font-weight: 700;
  color: #5f7f9f;
}
#banner-section h2 {
  font-size: 2em;
  color: #7f98b0;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}
#banner-section .meta {
  color: #1dd2af;
}
/* New user - recent donations*/
#newest-section {
  background-color: #fafafa;
}
#newest-section h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  font-weight: 700;
}
#newest-section h2 {
  font-size: 2em;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}
/* Top revievers - top givers*/
#top-users-section {
  background-color: #edeff1;
}

/* Slide 3 */
#about-section {
  background-color:#95a5a6;
  color: #fff;
}
#about-section  h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#8a8683;
  font-weight: 700;
}
#about-section  h2 {
  font-size: 2em;
  color: #8a8683;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}

/* Box Styles*/
.box {
  position: relative;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover .box {
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.4);
}
.box.user-box {
  min-height: 90px;
}
.box.donations-box {
  padding: 15px 15px 35px 15px;
}
.box.donations-box:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.4);
}

/*Donation box*/
.box.donations-box .box-picture {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.15);
}
.donors {
  padding: 15px 20px 10px 20px;
  text-align: center;
}
.box.donations-box .donors .divider {
  vertical-align: top;
  font-size: 1.2em;
  padding: 15px 20px 0 20px;
  color: #b4b9bd;
}
.box.donations-box .donors-info p {
  font-size: 0.8em;
  text-align: center;
}
.box.donations-box .donors-info p span{
  color: #7F8C8D;
}
.box .message {
  text-align: center;
}
.box .message p {
  font-size: 0.9em;
  line-height: 1em;
}
.box .amount{
  position: absolute;
  bottom: 0;
  right: 0;
}
.box .amount .amount-label {
  display:inline-block;
  background: #e74c3c;
  color: #fff;
  padding: 2px 10px;
  margin: 0;
  text-align: center;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.box .amount .amount-label .divider {
  padding: 0 3px;
}
.box .comments {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
.box.user-box .box-picture {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #fff;
}
#top-users-section .box.user-box .box-picture {
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.2);
}

.box .box-picture img{
  width: 100%;
  height: auto;
}
/* User Box*/
.box.user-box .box-header {
  background: #16A085;
  padding: 17px 15px 0 110px;
  border-bottom: 1px solid #138B74;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#top-users-section .box.user-box .box-header {
  background: #fff;
  border-color: #E3E8E9;
}
.box.user-box .box-header .name {
  color: #fff;
  font-weight: bold;
}
#top-users-section .box.user-box .box-header .name {
  color: #34495e;
}
.box.user-box .box-header .email {
  float: right;
  color: #d2f8f1;
  font-size: 0.9em;
}
#top-users-section .box.user-box .box-header .email {
  color: #6f7e8d;
}
.box.user-box .box-meta {
  padding: 5px 15px 5px 110px;
  font-size: 0.85em;
}
.box.user-box .box-content {
 padding: 5px 15px 5px 20px;
}
.box .member-info .box-label {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #E74C3C;
}
.box .member-info .text{
  color: #34495e;
  font-size: 0.9em
}
.user-list,
.recent-donation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.user-list li,
.recent-donation-list li {
  margin-bottom: 18px;
}
.about-wrapper,
.about-title {
  text-align: center;
}
.about-wrapper {
  padding: 0 20px;
}
.about-title {
  margin-bottom: 20px;
  color: #ecf0f1;
}
.about-text {
  font-size: 0.9em;
}
.about-icon {
  font-size: 4em;
  color: #bcc6c7;
}

/*Footer*/
.footer {
  width: 100%;
  min-height: 50px;
  background: #fff;
  border-bottom: 4px solid #1abc9c;
}
.footer .copywrite {
  padding: 10px 0 0 0;
  text-align: center;
}
a.readmore {
  color: #586869;
  margin-top: 10px;
}
a.readmore:hover {
  color: #798e8f;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  #logo {
    width: 100%;
    text-align: center;
  }
  #nav {
    width:100%;
    text-align:center;
    margin:10px 0;
  }
  .navigation{
    width: 100%;
    float: center;
    list-style: none;
    margin: 0;
    padding:0;
  }
  .navigation {
    text-align: center;
  }
  .navigation li {
    float: none;
    display: inline-block;
  }
  .navigation li a{
    padding:0;
  }
  .navigation li a.login-btn{
    display: none;
  }
  .list-title {
    text-align: center;
  }

  .section-content {
    width:100%;
    position: relative;
  }

  .slide {
    background-attachment: fixed;
    width:100%;
    position: relative;
    padding:130px 0;
  }
  .slide h1,
  .slide h2 {
    line-height: 1em;
  }
  .slide-content {
    text-align:center;
    width:100%;
  }
  #decorative {
    display:none;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  #logo {
    width: 100%;
    text-align: center;
  }
  #nav {
    width:100%;
    margin:5px 0;
  }
  .navigation{
    width: 100%;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
  }
  .navigation li{
    float: left;
    width:25%;
  }
  .slide {
    background-attachment: fixed;
    width:100%;
    position: relative;
    padding:150px 0;
  }
  .slide h1,
  .slide h2 {
    line-height: 1em;
  }
  .box .comments {
    position: static;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  .box .amount{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .box .amount .amount-label {
    display:block;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}




